{% extends 'shop/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'shop/register.css' %}">
{% endblock css %}

{% block body %}
<div class="dismiss-button-section">
        <a class="dismiss-button" href="/"><i class="fa fa-times"></i></a>
    </div>

    <!-- Login Section -->
    <div class="login-section" id="login_section" style="display: block;">
        <h6 class="login-signup-heading">Log In</h6>
        <p class="login-signup-sub-heading">New to this site? <a href="/signup">Sign Up</a></p>

        <form action="" method="POST" name="login_form" class="login-form">
            {% csrf_token %}
            <div class="form-group">
                <input type="number" name="mob_number" id="login_email_address" placeholder="Mobile Number..."
                    required />
            </div>
            <div class="form-group">
                <input type="password" name="login_password" id="login_password" placeholder="Password..." required />
            </div>
            <div class="form-group">
                <a href="/forgetpassword" class="forget-password">Forget Password?</a>
                <button type="submit" class="login-signup-button">Log In</button>
            </div>
        </form>
    </div>
    <br>
{% endblock body %}