{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
Register
{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'shop/register.css' %}">
{% endblock css %}

{% block body %}



<!-- Discard Button -->
    <div class="dismiss-button-section">
        <a class="dismiss-button" href="/"><i class="fa fa-times"></i></a>
    </div>

    <!-- Signup Section -->
    <div class="signup-section" id="signup_section" style="display: block;">
        <h6 class="login-signup-heading">Sign Up</h6>
        <p class="login-signup-sub-heading">Already a Member? <a href="/login">Log In</a></p>

        <form action="" method="POST" name="signup_form" class="signup_form">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="signup_name" id="signup_username" placeholder="Your Name..." required />
            </div>
            <div class="form-group">
                <input type="tel" name="signup_mobile_number" id="signup_mobile_number" placeholder="Mobile Number..."
                    minlength="10" maxlength="10" required />
            </div>
            <div class="form-group">
                <input type="mail" name="signup_email_address" id="signup_email_address" placeholder="Email Address..."
                    required />
            </div>
            <div class="form-group">
                <input type="password" name="signup_password" id="signup_password" placeholder="Password..." required />
            </div>
            <div class="form-group">
                <button type="submit" class="login-signup-button">Sign Up</button>
            </div>
            <div class="form-group business_acc_section">
                <a href="/business/register" class="business_acc_btn">Signup for Business</a>
            </div>
        </form>
    </div>
    <br><br>
{% endblock body %}
